.navbar-brand {
  font-family: '-apple-system, BlinkMacSystemFont, sans-serif';
  font-size: 2em !important;
}

.navbar-links {
  font-family: '-apple-system, BlinkMacSystemFont, sans-serif';
  font-weight: 600;
}

.home-container {
  margin-top: 50px;
}

.home-label {
  margin-top: 50px;
}

.home-input {
  background-color: #e9eef2;
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: min(500px, 90%);
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.add-option-btn {
  background-color: #fff;
  border: solid 1px #e9eef2;
  border-radius: 8px;
  padding: 16px;
  width: min(500px, 90%);
  color: #1ac107;
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.remove-option-btn {
  background-color: #d2042d;
  border: solid 1px #e9eef2;
  border-radius: 8px;
  padding: 16px;
  width: min(500px, 90%);
  color: #fff;
}

.create-poll-btn {
  background-color: #050505;
  border: none;
  border-radius: 60px;
  padding: 16px;
  width: min(500px, 90%);
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.error-message {
  color: #d2042d;
  font-size: 1em;
  margin-top: 14px;
  margin-bottom: 8px;
}
